<launch>
  <!--Configuration of FV+ for a Mikata arm.
  NOTE: Due to the limited resource of PC, we use a single FV+ and
  duplicate it by two fv_filter1 sharing the same source
  so that we can use the same motion programs;-->

  <arg name="fv1" default="fvp_mikata" />
  <arg name="config1" default="config/fvp_mikata.yaml" />

  <node type="fv_core_node" pkg="fingervision" name="$(arg fv1)" ns="fingervision" output="screen">
    <param name="pkg_dir" value="$(find ay_fv_extra)/" />
    <param name="cam_config" value="$(arg config1)" />
    <param name="stereo_config" value="$(arg config1)" />
    <param name="blobtrack_config" value="$(arg config1)" />
    <param name="objdettrack_config" value="$(arg config1)" />
    <param name="blob_calib_prefix" value="data_gen/blob_" />
    <param name="publish_image" value="true" />
    <param name="frame_skip" value="0" />
    <param name="target_fps" value="0" />
    <param name="capture_fps" value="0" />
  </node>
  <node type="fv_filter1.py" pkg="fingervision" name="fv_filter1_l" ns="fingervision" output="screen">
    <param name="fv" value="$(arg fv1)" />
    <param name="fv_out" value="$(arg fv1)_l" />
    <param name="side" value="l" />
    <param name="normal_f_mode" value="xy_norm" />
    <param name="reduction_mode" value="mean" />
    <param name="filter_len" value="5" />
  </node>
  <node type="fv_filter1.py" pkg="fingervision" name="fv_filter1_r" ns="fingervision" output="screen">
    <param name="fv" value="$(arg fv1)" />
    <param name="fv_out" value="$(arg fv1)_r" />
    <param name="side" value="l" />
    <param name="normal_f_mode" value="xy_norm" />
    <param name="reduction_mode" value="mean" />
    <param name="filter_len" value="5" />
  </node>

</launch>
